@import './index.scss';

.header {
    background-color: $primary;
    color: $grey-light;
    height: $header-height;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    &__logo {
        display: flex;
        cursor: pointer;
        font-size: 2.4rem;
        color: $white;
    }

    &__text {
        flex: 1;
        color: $white;

        & > h1 {
            font-size: 2.4rem;
        }
    }

    &__search {
        min-width: 300px;
    }
}

.search {
    position: relative;

    &__icon {
        position: absolute;
        left: 6px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.6rem;
        color: $grey-dark;
        display: flex;
    }

    &__input {
        padding: 5px;
        padding-left: 30px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid $grey-light;
        font-size: 1.6rem;
        outline: none;
        color: $grey-dark;
    }
}